footer {
.lineFather{
    display: flex;
    justify-content: center;
    align-items: center;
    .line{
    height: 10px;
    width: 1000px;
    border-top: 1px solid white;
  
  }
  }
  .redesSociales{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
.footerList{
  list-style: none;
.footerREF{
  position: relative;
    text-decoration: none;
    color: #ffffff;
  }
  .footerREF:after{
      content: "";
      position: absolute;
      background-color: whitesmoke;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
  }
  .footerREF:hover:after{
    width: 100%;
    // color: #ffffff;
    // text-decoration: underline;
  
  }
  }
  }
}
