.filmMain {
  width: 100%;
  .gridMain {
    display: flex;
    flex-direction: column;

    width: 100%;

    .films__Title__main {
      text-align: center;
      margin: 1rem;
    }
    .boxes {
      width: 90%;
      margin: 0 auto;
      .filmBox{
        margin-bottom: 1rem;
      }
    }
  }
}
