
    .titles{
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;
       h1{
           font-size: 70px;
       }
        h2{
            text-align: center;
          
          }
      }