@media only screen and (min-width:769px){
 
}
  
  @media only screen and (min-width:1024px){
 .films__Title__main{
   font-size: 4rem;
 }
    .titles h1{
   font-size: 5rem;

  }
  .titles h2{
    font-size: 3rem;
  }
  .titles .paragraphAbout{
    font-size: 5rem;
    width: 800px;
      height: auto;
  }
  

    .filmMain {
      height: 700px;
      .gridMain {
        width: 100%;
        display: flex;
        flex-direction: column;
        .films__Title__main{
          text-align: center;
          margin-bottom: 3rem;
        }
        .boxes {
          display: flex;
        
          width: 90%;
          margin: 0 auto;
          .filmBox {
            width: 45%;
            margin: 1rem;
          }
        }
      }
    }

    }