@import "navbar";
@import "footer";
@import "mainIndex";
@import "mainAbout";
@import "mainFilm";
@import "mediaQueries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../MEDIA/background.png");
  font-family: "lato";
  color: #ffffff;
}
